@import url("/template_main.min.css");
@font-face {
  font-family: "abc-favorit";
  src: url("https://zipcio.com/hubfs/raw_assets/public/ZipcioTheme/fonts/abc-favorit/abc-favorit.woff2") format("truetype-variations");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "abc-favorit";
  src: url("https://zipcio.com/hubfs/raw_assets/public/ZipcioTheme/fonts/abc-favorit/abc-favorit.woff2") format("truetype-variations");
  font-display: swap;
  font-weight: 800;
}
@font-face {
  font-family: "abc-favorit";
  src: url("https://zipcio.com/hubfs/raw_assets/public/ZipcioTheme/fonts/abc-favorit/abc-favorit.woff2") format("truetype-variations");
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: "abc-favorit";
  src: url("https://zipcio.com/hubfs/raw_assets/public/ZipcioTheme/fonts/abc-favorit/abc-favorit.woff2") format("truetype-variations");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "abc-favorit";
  src: url("https://zipcio.com/hubfs/raw_assets/public/ZipcioTheme/fonts/abc-favorit/abc-favorit.woff2") format("truetype-variations");
  font-display: swap;
  font-weight: 200;
}
@font-face {
  font-family: "abc-favorit";
  src: url("https://zipcio.com/hubfs/raw_assets/public/ZipcioTheme/fonts/abc-favorit/abc-favorit.woff2") format("truetype-variations");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "abc-favorit";
  src: url("https://zipcio.com/hubfs/raw_assets/public/ZipcioTheme/fonts/abc-favorit/abc-favorit.woff2") format("truetype-variations");
  font-display: swap;
}
@font-face {
  font-family: "druk-cyr";
  src: url("https://zipcio.com/hubfs/raw_assets/public/ZipcioTheme/fonts/druk-cyr/druk-cyr-bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "druk-cyr";
  src: url("https://zipcio.com/hubfs/raw_assets/public/ZipcioTheme/fonts/druk-cyr/druk-cyr-bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "abc-favorit";
  src: url("https://zipcio.com/hubfs/raw_assets/public/ZipcioTheme/fonts/abc-favorit/abc-favorit.woff2") format("truetype-variations");
  font-display: swap;
  font-weight: 100;
}
@font-face {
  font-family: "abc-favorit";
  src: url("https://zipcio.com/hubfs/raw_assets/public/ZipcioTheme/fonts/abc-favorit/abc-favorit.woff2") format("truetype-variations");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "abc-favorit";
  src: url("https://zipcio.com/hubfs/raw_assets/public/ZipcioTheme/fonts/abc-favorit/abc-favorit.woff2") format("truetype-variations");
  font-display: swap;
  font-weight: 900;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafaff;
}

.main_dnd-row-7-force-full-width-section > .row-fluid {
  max-width: none !important;
}
.main_dnd-row-1-hidden {
  display: block !important;
}
.main_dnd-row-6-padding {
  padding-top: 80px !important;
}
.main_dnd-row-7-padding {
  padding-top: 20px !important;
  padding-bottom: 50px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
}
.main_dnd-row-7-background-layers {
  background-image: linear-gradient(rgba(8, 8, 79, 1), rgba(8, 8, 79, 1)) !important;
  background-position: left top !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
}
.widget_1741551298453-hidden {
  display: block !important;
}
.cell_17415515188772-hidden {
  display: block !important;
}
.widget_1774384388649-hidden {
  display: block !important;
}

a.cta_button {
  -moz-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
  vertical-align: middle;
}
.hs-breadcrumb-menu {
  list-style-type: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.hs-breadcrumb-menu-item {
  float: left;
  padding: 10px 0px 10px 10px;
}
.hs-breadcrumb-menu-divider:before {
  content: '›';
  padding-left: 10px;
}
.hs-featured-image-link {
  border: 0;
}
.hs-featured-image {
  float: right;
  margin: 0 0 20px 20px;
  max-width: 50%;
}
@media (max-width: 568px) {
  .hs-featured-image {
    float: none;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}
.hs-screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}
